html,
body {
	min-height: 100vh;
	font-size: 16px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

body > footer {
	align-content: flex-end;
}

.flex {
	padding: 10px;
	margin: 10px;
	display: flex;
}

.header {
	flex: 0 1 auto;
	padding: 10px;
	margin: 10px;
	justify-content: center;
	height: 100px;
}

.nav {
	padding: 20px;
	margin: 10px;
	flex: 0 1 auto;
	background-color: black;
	align-items: center;
	justify-content: space-between;
}

#orderOnline,
#orderNow {
	background-color: white;
	border-color: white;
	margin: 0 50px;
	font-size: 20px;
	width: 200px;
}

#orderOnline:hover,
#orderNow:hover {
	background-color: red;
	color: white;
	border-color: red;
}

a {
	color: white;
	text-decoration: none;
	font-size: 22px;
}

a:hover {
	color: red;
}

.center a {
	margin: 0px 15px;
}

.column {
	background-color: white;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.meal {
	margin: 20px;
	display: flex;
	flex: 0 1 278px;
	align-items: center;
	background-repeat: no-repeat;
	width: 800px;
	height: 278px;
}

#meal1 {
	background-image: url('../images/steak.png');
}

#meal2 {
	background-image: url('../images/soup.png');
}

#meal3 {
	background-image: url('../images/cheesecake.png');
}

.text {
	padding: 10px 30px 10px 30px;
	align-self: flex-end;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.text h1 {
	font-size: 34px;
}

.footer {
	background-color: black;
	padding: 25px;
	justify-content: center;
}

.footer a {
	margin: 0px 50px;
}
