#orderOnline {
	background-color: white;
	border-color: white;
	margin-left: 50px;
	font-size: 20px;
	width: 200px;
}

#orderOnline:hover {
	background-color: red;
	color: white;
	border-color: red;
}

#orderNow {
	background-color: white;
	border-color: white;
	margin-right: 50px;
	font-size: 20px;
	width: 200px;
	flex-shrink: 1;
}

#orderNow:hover {
	background-color: red;
	color: white;
	border-color: red;
}
